.TodoBar {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
  }
  
  .TodoBar input {
    flex-grow: 1;
    border: none;
    background: #f7f1f1;
    padding: 0 1.5em;
    font-size: initial;
  }
  
  .TodoBar button {
    padding: 0 1.3rem;
    border: none;
    background: #878787;
    color: #202022;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #ffffff;
    margin-left: 5px;
    cursor: pointer;
    transform: background 2s ease-out;
  }
  
  .TodoBar button:hover {
    background: #d6d5d5;
  }
  
  .TodoBar input,
  .TodoBar button {
    font-family: "Quicksand", sans-serif;
    height: 3rem;
  }
  